<!DOCTYPE html>
<html lang="en">
<head>
  <title>Studio E</title>
  <meta charset="utf-8">
  <meta name="floor" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="col-md-4">
    <div class="container">
          <h2 style="color:lightgreen">Floor Units</h2>
          <br>
          <div class="row">
            <div class="col-md-4">
              <a href="../static/img/floor/floor_3_units.jpg" class="thumbnail">
                <p class="text-center">3 Units Floor</p>
                <img src="../static/img/floor/floor_3_units.jpg" alt="floor 3 units" style="width:150px;height:150px">
              </a>
            </div>
            <div class="col-md-4">
              <a href="../static/img/floor/floor_4_units.jpg" class="thumbnail">
                <p class="text-center">4 Units Floor</p>
                <img src="../static/img/floor/floor_4_units.jpg" alt="floor 4 unit " style="width:150px;height:150px">
              </a>
          </div>
        </div>
    </div>
</body>
</html>
