<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apt-2ZC</title>
  <meta charset="utf-8">
  <meta name="studio-type" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="col-md-4">
    <div class="container">
          <h2 style="color:lightgreen">Studio Type</h2>
          <br>
          <div class="row">
            <div class="col-md-4">
              <a href="../static/img/studioA/studio_A.jpg" class="thumbnail">
                <p class="text-center">Studio A</p>
                <img src="../static/img/studioA/studio_A.jpg" alt="Type A" style="width:150px;height:150px">
              </a>
            </div>
            <div class="col-md-4">
              <a href="../static/img/studioB/studio_B.jpg" class="thumbnail">
                <p class="text-center">Studio B</p>
                <img src="../static/img/studioB/studio_B.jpg" alt="Type B " style="width:150px;height:150px">
              </a>
            </div>
            <div class="col-md-4">
              <a href="../static/img/studioC/studio_C.jpg" class="thumbnail">
                <p class="text-center">Studio C</p>
                <img src="../static/img/studioC/studio_C.jpg" alt="Type C" style="width:150px;height:150px">
              </a>
            </div>
            <div class="col-md-4">
              <a href="../static/img/studioD/studio_D.jpg" class="thumbnail">
                <p class="text-center">Studio D</p>
                <img src="../static/img/studioD/studio_D.jpg" alt="Type D" style="width:150px;height:150px">
              </a>
            </div>
            <div class="col-md-4">
              <a href="studio_E.html" class="thumbnail">
                <p class="text-center">Studio E</p>
                <img src="../static/img/studioE/studio_E.jpg" alt="Type E" style="width:150px;height:150px">
              </a>
            </div>
            <div class="col-md-4">
              <a href="studio_F.html" class="thumbnail">
                <p class="text-center">Studio F</p>
                <img src="../static/img/studioF/studio_F.jpg" alt="Type F" style="width:150px;height:150px">
              </a>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
