<!DOCTYPE html>
<html lang="en">
<head>
  <title>Studio E</title>
  <meta charset="utf-8">
  <meta name="studio-type-f" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2 style="color:lightgreen">Studio F</h2>
        <br>
        <div class="row">
          <div class="col-md-3">
            <a href="../static/img/studioF/studio_F.jpg" class="thumbnail">
              <p class="text-center">Full Studio</p>
              <img src="../static/img/studioF/studio_F.jpg" alt="Type 0">
            </a>
          </div>
          <div class="col-md-3">
            <a href="../static/img/studioF/studio_F_1.jpg" class="thumbnail">
              <p class="text-center">LivingRoom Front</p>
              <img src="../static/img/studioF/studio_F_1.jpg" alt="Type 1">
            </a>
          </div>
          <div class="col-md-3">
            <a href="../static/img/studioF/studio_F_2.jpg" class="thumbnail">
              <p class="text-center">LivingRoom Back</p>
              <img src="../static/img/studioF/studio_F_2.jpg" alt="Type 2">
            </a>
          </div>
          <div class="col-md-3">
            <a href="../static/img/studioF/studio_F_3.jpg" class="thumbnail">
              <p class="text-center">BedRoom</p>
              <img src="../static/img/studioF/studio_F_3.jpg" alt="Type 3">
            </a>
          </div>
        </div>
    </div>
</body>
</html>
